{{ define "backups/table" }}
<div class="container text-center p-2 bg-light border">
    <table id="backupsTable" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">База</th>
                <th scope="col">Бекап</th>
                <th scope="col">Размер</th>
                <th scope="col">Время выполнения</th>
                <th scope="col">Статус</th>
                <th scope="col">Запуск</th>
                <th scope="col">Комментарий</th>
                <th scope="col">Опции</th>
            </tr>
        </thead>
        <tbody>
            {{ range $index, $element := . }}
            <tr>
                <th scope="row">{{ add $index 1 }}</th>
                <td>{{ $element.Alias }}</td>
                <td>{{ $element.Date }}</td>
                <td>{{ $element.Size }}</td>
                <td>{{ $element.LeadTime }}</td>
                <td>{{ $element.Status }}</td>
                <td>{{ $element.Schedule.Run }}</td>
                <td>{{ $element.Comment }}</td>
                <td>
                    <button type="button" class="downloadBackup btn btn-success btn-sm">Скачать</button>
                    <button type="button" class="deleteBackup btn btn-danger btn-sm">Удалить</button>
                    <button type="button" class="restoreBackup btn btn-primary btn-sm">Восстановить</button>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ end}}