{{ define "backups/table" }}
<div class="container text-center p-2 bg-light border">
    <table id="backupsTable" class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">База</th>
                <th scope="col">Бекап</th>
                <th scope="col">Размер</th>
                <th scope="col">Время выполнения</th>
                <th scope="col">Статус</th>
                <th scope="col">Запуск</th>
                <th scope="col">Комментарий</th>
                <th scope="col">Опции</th>
            </tr>
        </thead>
        <tbody>
            {{ range $index, $element := . }}
            <form action="/backups/action" method="post">
            <tr>
                <th scope="row">{{ add $index 1 }}</th>
                <td>{{ $element.Alias }}</td>
                <td>{{ $element.Date }}</td>
                <td>{{ $element.Size }}</td>
                <td>{{ $element.LeadTime }}</td>
                <td>{{ $element.Status }}</td>
                <td>{{ $element.Run }}</td>
                <td>{{ $element.Comment }}</td>
                <td>
                    <button type="submit" name="action" value="download" class="btn btn-success btn-sm">Скачать</button>
                    <button type="submit" name="action" value="delete" class="btn btn-danger btn-sm">Удалить</button>
                    <button type="submit" name="action" value="restore" class="btn btn-primary btn-sm">Восстановить</button>
                </td>
                <input type="hidden" name="alias" value="{{ $element.Alias }}">
                <input type="hidden" name="date" value="{{ $element.Date }}">
            </tr>
            </form>
        {{ end }}
        </tbody>
    </table>
</div>
{{ end}}