{{ define "databases/table" }}
<table>
    <thead>
        <tr>
            <th>Название</th>
            <th>Хост</th>
            <th>Размер</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .Alias }}</td>
            <td>{{ .Host }}</td>
            <td>{{ .Size }}</td>
            <td>
                {{if .Status}}
                <span class="status status-success">
                    Подключено
                </span>
                {{else}}
                <span class="status status-error">
                    Сбой
                </span>
                {{end}}
            </td>
            <td>
                <form class="btn-form btn btn-primary" action="/databases/backups" method="get">
                    <button id="backupMenu-btn" name="ID" value="{{.ID}}" class="btn btn-primary">Управление бекапами</button>
                </form>
                <button id="deleteDatabase-btn" name="ID" value="{{.ID}}" class="btn btn-secondary">Удалить</button>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
{{ end }}