{{ template "header" .}}
<div class="container backup-card" id="app">
    <h2>Управление бекапами - {{.db.Name}}</h2>
    <div class="card">
        <form class="btn-form btn btn-primary" action="/databases/backup/create" method="post">
            <button id="#" type="submit" name="ID" value="{{.db.ID}}" class="btn btn-primary">Создать бекап</button>
        </form>
        <a href="/databases">
            <span class="close">x</span>
        </a>
        <table>
            <tbody>
                {{ range .db.Backups }}
                <tr>
                    <td>{{.Date}}</td>
                    <td>{{.Size}}</td>
                    <td>{{.LeadTime}}</td>
                    <td>{{.Status}}</td>
                    <td>
                        <button class="btn btn-primary">скачать</button>
                        <button class="btn btn-secondary">удалить</button>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
<script src="/static/js/databases.js"></script>
</body>
</html>