{{ define "dashboard" }}
<div class="dashboardPage border-end shadow-sm bg-light vh-100">
    <ul class="nav flex-column nav-pills">
        <li class="nav-item">
            <a class="nav-link" id="bases" href="/bases">Базы данных</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="backups" href="/backups">Бекапы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bases" href="/tasks">Задания</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Выход</a>
        </li>
    </ul>
</div>
{{ end}}