{{ define "dashboard" }}
<div class="dashboardPage border-end shadow-sm bg-light vh-100">
    <ul class="nav flex-column nav-pills">
        {{ range . }}
        {{ if .IsVisible }}
        <li class="nav-item p-2">
            <a class="nav-link active" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ else}}
        <li class="nav-item"></li>
            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
        {{ end }}
        <li class="nav-item">
            <a class="nav-link" href="/logout">Выход</a>
        </li>
    </ul>
</div>
{{ end}}