{{ define "header"}}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная | PgBackup</title>
    <link rel="stylesheet/less" href="/static/css/main.less" />
    <link rel="stylesheet/less" href="/static/css/schedule.less" />
    <link rel="stylesheet/less" href="/static/css/databases.less" />
    <link rel="stylesheet/less" href="/static/css/settings.less" />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
</head>
<body>
  <header>
    <h1>PgBackup</h1>
  </header>
  <nav>
    <a href="/" class="active">Главная</a>
    <a href="/schedule">Расписание</a>
    <a href="/databases">Базы данных</a>
    <a href="/settings">Настройки</a>
    <a href="/logout">Выйти</a>
  </nav>
{{ end}}
