{{ define "header"}}
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .header }}</title>
    <link rel="stylesheet/less" href="/static/css/styles.less" />
    <link rel="stylesheet/less" href="/static/css/schedule.less" />
    <link rel="stylesheet/less" href="/static/css/databases.less" />
    <link rel="stylesheet/less" href="/static/css/settings.less" />
    <script src="https://cdn.jsdelivr.net/npm/less"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <h1>PgBackup</h1>
  </header>
  <nav>
    {{ range .pages }}
    {{ if .IsVisible }}
    <a href="{{ .URL }}" class="active">{{ .Name }}</a>
    {{ else }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
    {{ end }}
    <a href="/logout">Выйти</a>
  </nav>
{{ end}}
