{{ define "schedules/table" }}
<table>
    <thead>
        <tr>
            <th>База данных</th>
            <th>Периодичность</th>
            <th>Время</th>
            <th>Последний бэкап</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr>
            <td>{{ .DatabaseAlias }}</td>
            <td>{{ .Frequency }}</td>
            <td>{{ .Time }}</td>
            <td>{{range .Backups}}{{.Date}}{{ end }}</td>
            <td>
            <span class="status status-success">
            {{ .Status }}
            </span>
            </td>
            <td>
                <form class="btn-form btn btn-secondary" action="/schedule/delete" method="post">
                    <button type="submit" name="ID" value="{{.ID}}" class="btn btn-secondary">Удалить</button>
                </form>
            </td>
        </tr>
        {{ end}}
    </tbody>
</table>
{{ end}}