{{ define "schedules/table" }}
<table>
    <thead>
        <tr>
            <th>База данных</th>
            <th>Периодичность</th>
            <th>Время</th>
            <th>Последний бэкап</th>
            <th>Статус</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        {{ range . }}
        <tr>
            <td id="scheduleDbName">{{ .DbName }}</td>
            <td>{{ .Frequency }}</td>
            <td id="scheduleDbTime">{{ .Time }}</td>
            <td>{{ .LastBackup }}</td>
            <td>{{ .Status }}</td>
            <td>
                <button id="changeShedule" value="{{ .ID }}" type="submit" class="btn btn-secondary">Редактировать</button>
                <button type="submit" name="action" value="delete" class="btn btn-secondary">Удалить</button>
            </td>
        </tr>
        {{ end}}
    </tbody>
</table>
{{ end}}