{{ define "modal/error" }}
<div class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Уведомление</h1>
            </div>
            <div class="modal-body">
                {{.}}
            </div>
            <div class="modal-footer">
                <form action="/" method="get">
                    <button type="submit" class="btn btn-secondary">Закрыть</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{ end}}