<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .header }}</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet/less" href="/static/css/styles.less" />
  <script src="https://cdn.jsdelivr.net/npm/less"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <h1>PgBackup</h1>
  </header>
  <nav>
    {{ range .pages }}
    {{ if .IsVisible }}
    <a href="{{ .URL }}" class="active">{{ .Name }}</a>
    {{ else }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
    {{ end }}
    <a href="/logout">Выйти</a>
  </nav>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <div class="container" id="app">
    <h2>Панель управления</h2>
    <div class="dashboard">
      <div class="card">
        <h3>Общая статистика</h3>
        <div class="stat">{{.count.Total}}</div>
        <div>Статистика дампов</div>
        <div class="chart">
          <canvas id="backupsChart" data-completed="{{.count.Completed}}" data-failed="{{.count.Failed}}"></canvas>
        </div>
      </div>
      <div class="card">
        <h3>Использование хранилища</h3>
        <div class="stat">{{.storage.Used}} / {{.storage.Total}}</div>
        <div>Использовано / Всего</div>
        <div class="chart">
          <canvas id="storageChart" data-used="{{.storage.Used}}" data-total="{{.storage.Total}}"></canvas>
        </div>
      </div>
      <div class="card">
        <h3>Состояние системы</h3>
        <div id="systemStatusWidget" class="system-status-widget">
          <div class="status-indicator">
            <div class="status-icon status-green">  
            </div>
            <div class="status-details">
              <div class="status-name">
                Всего расписаний
              </div>
              <div class="status-value">
                {{.schedules_count}}
            </div>
          </div>
        </div>
        <div class="status-indicator">
          <div class="status-icon status-green">
          </div>
          <div class="status-details">
            <div class="status-name">
             Всего дампов
            </div>
            <div class="status-value">
              {{.backups_count}}
            </div>
          </div>
        </div>
        <div class="status-indicator">
          <div class="status-icon status-green">
          </div>
          <div class="status-details">
            <div class="status-name">
              Нагрузка системы
            </div>
            <div class="status-value">
              {{.system.CPU}}% CPU, {{.system.RAM}}% RAM
            </div>
          </div>
        </div>
        <div class="status-indicator">
          <div class="status-icon status-green">
          </div>
          <div class="status-details">
            <div class="status-name">
             Хранилие
            </div>
            <div class="status-value">
              {{.system.Storage}} свободно
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <h3>Последние бэкапы</h3>
    <table>
      <thead>
        <tr>
          <th>База данных</th>
          <th>Дата</th>
          <th>Размер</th>
          <th>Время</th>
          <th>Статус</th>
        </tr>
      </thead>
      <tbody>
        {{ range .backups }}
        <tr>
          <td>{{ .DatabaseAlias }}</td>
          <td>{{ .Date }}</td>
          <td>{{ .Size }}</td>
          <td>{{ .LeadTime }}</td>
          <td>
            {{if .Status}}
            <span class="status status-success">
              Успешно
            </span>
            {{else}}
            <span class="status status-error">
              Ошибка
            </span>
            {{end}}
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
  {{ template "github-link" }}
  <script src="/static/js/main.js"></script>
</body>
</html>