<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .header }}</title>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
  <link rel="stylesheet/less" href="/static/css/styles.less" />
  <link rel="stylesheet/less" href="/static/css/schedule.less" />
  <script src="https://cdn.jsdelivr.net/npm/less"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
  <header>
    <h1>PgBackup</h1>
  </header>
  <nav>
    {{ range .pages }}
    {{ if .IsVisible }}
    <a href="{{ .URL }}" class="active">{{ .Name }}</a>
    {{ else }}
    <a href="{{ .URL }}">{{ .Name }}</a>
    {{ end }}
    {{ end }}
    <a href="/logout">Выйти</a>
  </nav>
  <div class="container" id="app">
    <h2>Расписание бэкапов</h2>
    <div class="card">
      <button class="btn btn-primary">Добавить расписание</button>
      {{ template "schedules/table" .schedules }}
    </div>
  </div>
  {{ template "modals/add_schedule" . }}
  {{ template "github-link"}}
    {{ if .notification }}
    <script src="/static/js/animations.js"></script>
    <script>showNotification({{.notification.Message }}, {{.notification.Type }})</script>
    {{ end}}
  <script src="/static/js/schedule.js"></script>
</body>
</html>